<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Carousel</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="frame">
        <img
          id="right"
          src="../assets/arrow_back_ios_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png"
          alt=""
        />
        <img
          id="left"
          src="../assets/arrow_forward_ios_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png"
          alt=""
        />

        <div class="nav-dot">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>

      <div class="slides" id="slides">
        <div id="one" class="slide one">
          <img src="../assets/image1.jpg" alt="" />
        </div>
        <div class="slide two">
          <img src="../assets/image2.jpg" alt="" />
        </div>
        <div class="slide three">
          <img src="../assets/image3.jpg" alt="" />
        </div>
        <div class="slide one2">
          <img src="../assets/image1.jpg" alt="" />
        </div>
        <div class="slide four">
          <img src="../assets/image4.jpg" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
