@import "./reset.css";

body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.frame {
  position: relative;
  #right {
    top: 50%;
    left: 1.1rem;

    transform: translateY(-50%);
  }
  #left {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  img {
    position: absolute;
  }
}

.nav-dot {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-dot > * {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.current-nav {
  background-color: orange;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  display: flex;
  z-index: -1;
  width: 10000vw;
}

.slides img,
.frame {
  height: 100vh;
  width: 100vw;
}
